:root {
    --mainColor : #6BBAEC;
}
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin-inline: auto;
    padding-inline: 15px;
    padding-top: 40px;
    background: #ddd;
    min-height: calc(100vh - 178px);
}

@media (min-width : 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width : 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}

.name {
    background-color: var(--mainColor);
    color: white;
    padding: 60px;
    font-size: 30px;
    text-align: center;
}

.msg {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 10px;

}
.msg span {
    color: var(--mainColor);
}


.start {
    width: 100%;
    color: white;
    background-color: #022B3A;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
}
.the-word {
    text-align: center;
    background-color: white;
    padding: 10px 20px;
    font-size: 40px;
    color: var(--mainColor);
    margin-bottom: 10px;
}

input {
    width: 100%;
    caret-color: var(--mainColor);
    padding: 7px 10px;
    border: none;
    margin-bottom: 20px;
}
.upcoming-words {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.upcoming-words div {
    color: white;
    background-color: var(--mainColor);
    padding: 5px 9px;
    width: fit-content;
}
.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.control span {
    color: var(--mainColor);
    margin-bottom: 10px;
}

.finish {
    background-color: white;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.finish span {
    padding: 15px 30px;
    display: block;
}
.finish.good {
    background-color: rgb(40, 151, 40);
}
.finish.bad {
    background-color: red;
}

